OPENAI_API_KEY=
GOOGLE_API_KEY=
PINECONE_API_KEY=
PINECONE_ENV=
PINECONE_INDEX_NAME=gym-ai-index
PINECONE_NAMESPACE=gym-knowledge
MODEL=gpt-4o-mini
EMBEDDING_MODEL=llama-text-embed-v2
TOP_K=3

DATABASE_URL=postgresql+psycopg://postgres:gym-ai-db-password-2026@localhost:5432/gym-ai?sslmode=disable
POSTGRES_DB=gym-ai
POSTGRES_USER=postgres
POSTGRES_PASSWORD=gym-ai-db-password-2026
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=
ALGORITHM=HS256
